llama_index
langchain
chainlit
requests
beautifulsoup4
pandas
llama-index-llms-bedrock
llama-index-embeddings-bedrock
llama-index-readers-github
llama-index-readers-file
llama-index-readers-web
llama-index-readers-json
nbformat
tree-sitter==0.21.3
tree_sitter_languages
sqlalchemy
tiktoken
boto3
botocore
aiosqlite
